
# Created by https://www.gitignore.io/api/clojure,leiningen
.idea
### Clojure ###
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

### Leiningen ###

# End of https://www.gitignore.io/api/clojure,leiningen
